@charset "UTF-8";

body {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}   

h1 {
    color: green;
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(223, 245, 191);
}

.basico {
    color: rgb(223, 245, 191);
    font-weight: bold;a
}

.intermediario {
    color: rgb(240, 229, 131);
}

.avancado {
    color: rgb(228, 120, 120);
}